/* 11_tipografia.css */

body {
    /* Lista de respaldo (fallback) */
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #334155;
}

h1 {
    
    color: #0f172a;
}

.destacado {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: #2563eb;
}